asgiref==3.8.1
Django==5.0.7
django-appconf==1.0.6
django-libsass==0.9
django-libsass-compass-mixins==0.12.10
django-sass-processor==1.4.1
django_compressor==4.5
libsass==0.23.0
rcssmin==1.1.2
rjsmin==1.2.2
sqlparse==0.5.1
