<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html>
<head>
    <title>Main Menu</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/mainMenu.css' %}" />
    <link href="{% sass_src 'css/carousel.scss' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h1>Игры</h1>
    <div class=background>
       <img id=backimg src=/static/imgs/gameroom.jpeg />
    </div>
<div class="container">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
  <div class="cards">
    <label class="card" for="item-1" id="song-1">
      <img src=/static/imgs/nemezida.jpg alt="song">
    </label>
    <label class="card" for="item-2" id="song-2">
      <img src=/static/imgs/hardyGardyMap.jpeg alt="song">
    </label>
    <label class="card" for="item-3" id="song-3">
      <img src=/static/imgs/karcasson.jpg alt="song">
    </label>
  </div>
  <div class="player">
    <div class="upper-part">
      <div class="play-icon">
        <svg width="20" height="20" fill="#2992dc" stroke="#2992dc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-play" viewBox="0 0 24 24">
          <defs/>
          <path d="M5 3l14 9-14 9V3z"/>
        </svg>
      </div>
      <div class="info-area" id="test">
        <label class="game-info" id="game-info-1">
          <div class="title">Nemezida</div>
          <div class="sub-line">
            <div class="subtitle">Balthazar</div>
            <div class="time">4.05</div>
          </div>
        </label>
        <label class="game-info" id="game-info-2">
          <div class="title">Hardy Gardy</div>
          <div class="sub-line">
            <div class="subtitle">Moderator</div>
            <div class="time">4.05</div>
          </div>
        </label>
        <label class="game-info" id="game-info-3">
          <div class="title">Karcasson</div>
          <div class="sub-line">
            <div class="subtitle">Otzeki</div>
            <div class="time">4.05</div>
          </div>
        </label>
          </div>
        </label>
      </div>
    </div>
    <div class="progress-bar">
      <span class="progress"></span>
    </div>
  </div>
</div>

<div class="box-1">
  <div class="btn btn-one">
    <button id="a" class="btn btn-one" type="button" onClick="bt1()">НОВАЯ ИГРА</button>
  </div>
</div>

<!-- Hover #2 -->
<div class="box-2">
  <div class="btn btn-two">
    <button id="b" class="btn btn-two" type="button" onClick="bt1()">НОВАЯ ИГРА</button>
  </div>
</div>

<!-- Hover #3 -->
<div class="box-3">
  <div class="btn btn-three">
    <button id="c" class="btn btn-three" type="button" onClick="bt1()">НОВАЯ ИГРА</button>
  </div>
</div>
<script src="/static/script/mainMenu.js"></script>
</body>
</html>